.dropdown-menu {
  background: #fff;
  border: 1px solid red;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  position: absolute;
  right: 0%;
  top: calc(100% + 5px);
  bottom: 0;
  min-height: 100px;
  text-align: left;
  max-width: 300px;
  z-index: 10;
}

.dropdown-open {
  display: block !important;
}
